@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.trackercontainer{
    max-width: 100% !important;
    margin: 0 !important;
    padding: 12px !important;
    background:var(--primary-bg-color);
    padding:24px;
}
.expansetag{
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: hsla(0, 0%, 100%, 1);
}

.income {
    color: hsl(93, 100%, 51%);
  }
  
  .expense {
    color: hsl(48, 100%, 50%);
  }
  
  .incomeBtn {
    background-color: hsl(93, 100%, 51%) !important;
    color: hsl(0, 0%, 0%) !important;
    text-transform: none !important;
    border-radius: 15px !important;
  }
  
  .expenseBtn {
    background-color: hsl(348, 100%, 55%) !important;
    color: hsl(0, 0%, 100%) !important;
    text-transform: none !important;
    border-radius: 15px !important;
  }


.trackerbox{
    background-color: hsla(0, 0%, 61%, 0.979);
    /* height: 40vh !important; */
    width: 100% !important;
    padding: 1% 3%;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
    background: #626262;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    margin-bottom: 32px;

}
.griditem3{
display: flex;
justify-content: center;
align-items: center;
} 

.card{
    /* width: 100%;*/
    background-color: var(--secondary-bg-color) !important;
    display: flex  !important;
    flex-direction: column  !important;
    align-items: center  !important;
    justify-content: center  !important;
    text-align: center  !important;
    padding: 45px 20px  !important;
    border-radius: 15px !important;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25)  !important;
    
}
