.container{
    margin: 0 !important;
    padding: 0 !important;
    
}
.piechart{
    margin: 0 !important;
    padding: 0 !important;

}
.card{
    background-color:unset !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
}