.container {
  /* padding: 16px; */
  /* max-width: 600px; */
  margin: auto;
}

.card {
  margin-bottom: 1px;
  background-color: #f9f9f9;
  border-radius: 12px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.itemRight {
  display: flex;
  align-items: center;
  gap: 8px;
}

.amount {
  color: orange;
  font-weight: 600;
  font-size: 16px;
}
